In [2]:
pip install pandas
pip install numpy
pip install matplotlib
pip install seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

SyntaxError: invalid syntax (3941790156.py, line 1)

Exploratory Data Analysis

In [ ]:
# opening and displaying the csv file which contains data of the properties of flowers with three different species
local_file_path = ".data/blob/main/IRIS.csv"
url = "https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/IRIS.csv"
df = pd.read_csv(url)
df.info()

In [ ]:
df.describe()

In [ ]:
# plotting the correlation of sepal and petal length of the three different species and the correlation of sepal and petal width of the three different species as two subplots
sns.set(style="darkgrid")
plt.figure(figsize=(12, 10))
plt.subplot(2, 2, 1)
sns.scatterplot(x='sepal_length', y='petal_length', hue = 'species', data=df)
plt.title('sepal length vs. petal length')
plt.subplot(2, 2, 2)
sns.scatterplot(x='sepal_width', y='petal_width', hue='species', data=df)
plt.title('sepal width vs. petal width')
plt.show()
plt.tight_layout()

The scatterplot of petal length vs sepal length indicates that we have a correlation or relationship (if you will) between the two by the looks of it.
However the scatterplot of petal width vs sepal width indicates that there is no relationship of the two.

In [ ]:
# Create a 2x2 grid of subplots
plt.figure(figsize=(12, 10))

# Box plot for Sepal Width for the 3 species
plt.subplot(2, 2, 1)
sns.boxplot(x='species', y='sepal_width', hue = 'species', data=df)
plt.title('Sepal Width by Species')

# Box plot for Sepal Length for the 3 species
plt.subplot(2, 2, 2)
sns.boxplot(x='species', y='sepal_length', hue = 'species', data=df)
plt.title('Sepal Length by Species')

# Box plot for Petal Width for the 3 species
plt.subplot(2, 2, 3)
sns.boxplot(x='species', y='petal_width', hue = 'species', data=df)
plt.title('Petal Width by Species')

# Box plot for Petal Length for the 3 species
plt.subplot(2, 2, 4)
sns.boxplot(x='species', y='petal_length', hue = 'species', data=df)
plt.title('Petal Length by Species')

# Adjust the layout to prevent overlap
plt.tight_layout()
plt.show()

The boxplots are illustrating the median value and variance spread of sepal width, sepal length, petal width and petal length of the three species of flowers.

The first boxplot (Sepal width vs species) is telling us that Setosa has the largest spread and the widest sepals on average, Virginica has smaller sepals than Setosa considering it has smaller median and variance. Versicolor has the smallest median sepal width with relatively large variability indicating that Versicolor has the smallest sepal.

The second boxplot (Sepal length vs species) is telling us that Virginica has the largest sepal length, Versicolor being second and Setosa has the smallest sepal length.

The third boxplot (Petal width vs species) is telling us that Virginica has the widest and most variable petals, Setosa has small and consistent petals and Versicolor is in between the two.

The forth boxplot (Petal length vs species) is telling us that Virginica has the longest petals and most variable, Versicolor has shorter petals with less variability and Setosa has the shortest and most consistent petals.

Overall the boxplots are giving describtions of the three species of flowers, improving our ability to visualize how they look.

In [ ]:
# Pair plot of the dataset
sns.pairplot(df, hue='species', markers=["o", "s", "D"])
plt.suptitle('Pair Plot of Iris Dataset', y=1.02)
plt.show()

We can from the pairs plot draw the conclusion that petal length and petal width show a clear, positive linear relationship. While we can also see how different species cluster based on their measurements. Setosa is the easiest to separate from the others due to its smaller petals and variance.

We can also see how some variables have little, close to zero correlation, such as sepal width vs petal length.

Birdwatching

In [ ]:
# opening and displaying the csv file which contains data of bird sightings
local_file_path = ".data/blob/main/artportalen.csv"
url = "https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/artportalen.csv"
df = pd.read_csv(url)
print(df.head())

In [ ]:
# Convert "Antal" column to numeric, handling non-numeric values
df['Antal'] = pd.to_numeric(df['Antal'], errors='coerce')

# Group by species and sum the observations
species_count = df.groupby('Artnamn')['Antal'].sum().sort_values(ascending=False)

# Display the top species
species_count.head()

This displays the most observed species during bird sightings and answers the first question of the questions for birdsighting.

In [ ]:
# data for top three prevelant species
# Convert the date column to datetime
df['Startdatum'] = pd.to_datetime(df['Startdatum'])  # Replace 'date' with the  nactual columname
# Extract the month
df['month'] = df['Startdatum'].dt.month
# Count occurrences of each species
species_count = df.groupby('Artnamn')['Antal'].sum().sort_values(ascending=False)
# Identify the top 3 most prevalent species
top_species = species_count.head(3).index

# Filter data for the top 3 species
filtered_data = df[df['Artnamn'].isin(top_species)]
# Group by month and species
monthly_distribution = filtered_data.groupby(['month', 'Artnamn']).size().reset_index(name='count')

# Plot the monthly distribution
plt.figure(figsize=(12, 6))
sns.lineplot(data=monthly_distribution, x='month', y='count', hue='Artnamn', marker='o')

# Add labels and title
plt.title('Monthly Distribution of the Top 3 Most Prevalent Species')
plt.xlabel('Month')
plt.ylabel('Count')
plt.xticks(ticks=range(1, 13), labels=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                                       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
plt.legend(title='Species')
plt.grid(True)
plt.show()

The monthly distribution of the top three most prevelant species is found by examining the monthly distribution of Grönsiska, Sothöna and Gräsand. This is done by going through the data and counting all sightings of one species that occured in the same month, this data is found in the column Startdatum. By plotting the counts of the most prevelant species sightings in each month we get the distribution shown in a graph, which is displayed in the figure above.

In [ ]:
# Displaying the least prevenant species in ascending order
species_count = df.groupby('Artnamn')['Antal'].sum().sort_values(ascending=True)
print(species_count)

The most rare species is the same as the least prevenant ones, and since we already found a way to count all the sightings we can use our "species_count" in an ascending order in order to display the rarest species which is displayed above.

1: What is the geographical distribution of the observations for the 10 most common species?

In [ ]:
plt.figure(figsize=(10, 6))
top10_species = df['Artnamn'].value_counts().head(10).index
filtered_newdata = df[df['Artnamn'].isin(top10_species)]

sns.scatterplot(data=filtered_newdata, x=df['Ostkoordinat'], y=df['Nordkoordinat'], hue='Artnamn', alpha=0.5)

plt.title('Geographical Distribution of Observations')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.legend(title='Species')
plt.show()

2: Which observers have done most sightings of the 10 most common species?

In [ ]:
top10_species = df['Artnamn'].value_counts().head(10).index
filtered_newdata = df[df['Artnamn'].isin(top10_species)]

# Group by observer and species, and count the sightings
observer_species_counts = filtered_newdata.groupby(['Observatörer', 'Artnamn']).size().reset_index(name='count')

# Get the total sightings per observer (sum of sightings across all species)
observer_totals = observer_species_counts.groupby('Observatörer')['count'].sum().reset_index()

# Identify the top 5 observers by total sightings
top_observers = observer_totals.sort_values(by='count', ascending=False).head(5)['Observatörer']

# Filter the original dataset to only include the top 5 observers
filtered_observers_data = observer_species_counts[observer_species_counts['Observatörer'].isin(top_observers)]

# Plot the results for the top 5 observers
plt.figure(figsize=(14, 8))
sns.barplot(data=filtered_observers_data, x='Artnamn', y='count', hue='Observatörer', dodge=True)

# Add labels and title
plt.title('Number of Sightings by Top 5 Observers for the 10 Most Common Species')
plt.xlabel('Species')
plt.ylabel('Number of Sightings')
plt.xticks(rotation=45)
plt.legend(title='Observer', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

3:  Are there any species that are observed together frequently?

In [ ]:
# Group observations by same county and time
event_groups = df.groupby(['Län', 'Startdatum'])['Artnamn'].apply(list).reset_index(name='species_list')

# import packages
from collections import Counter
from itertools import combinations

co_occurrence_counts = Counter()
for species_list in event_groups['species_list']:
    for pair in combinations(sorted(species_list), 2):
        co_occurrence_counts[pair] += 1

# Convert to DataFrame
co_occurrence_df = pd.DataFrame(co_occurrence_counts.items(), columns=['species_pair', 'count']).sort_values(by='count', ascending=False)

# Display top co-occurring pairs
print(co_occurrence_df.head(10))

In [ ]:
Predicting Strokes

In [ ]:
# opening and displaying the csv file which contains data about strokes and realative variables
local_file_path = ".data/blob/main/stroke-data.csv"
url = "https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/stroke-data.csv"
df = pd.read_csv(url)
print(df)
df.describe()

The dataset seem to contain data of completely different individuals with different variables. The data contains information about gender, age, hypertension, heart disease, if the person has ever been married, type of work and residence, level of glucose, bmi, smoking status and if the person has had a stroke or not. With all this information we could try to find which variables that has most correlation with probability of getting a stroke. An intresting way to analyze the data would be to examine what variables are related to one another and the first question could be to create a pairsplot that demonstrates this. The second question could be if smoking increases the chances of getting a stroke. And the third question, what variable seems to be most correlated with chance of getting a stroke.

1: Creating a pairs plot of the variables and finding relationships between them

In [ ]:
# remove unintresting columns of the data and creatte pair plot of the dataset
relevant_data = df[["gender","age","hypertension","heart_disease","ever_married","work_type","Residence_type", "avg_glucose_level", "bmi","smoking_status" , "stroke"]]

sns.pairplot(relevant_data)
plt.suptitle('Pair Plot of Predicting Strokes', y=1.02)
plt.show()

We see that for a lot of variables the pairs plot is not giving us any intresting information, this is partailly due to the difference in binary and continous values for the variables. However we can see that the only variables who seem to have a clear relationship to one another is age and average glucose levels.

2. How does smoking status affect number of strokes?

In [ ]:
# Sorting the data into groups of male and female data and plotting the number of strokes for each group
formerly_smoked_data = df[df["smoking_status"]=="formerly smoked"]
never_smoked_data = df[df["smoking_status"]=="never smoked"]
smokes_data = df[df["smoking_status"]=="smokes"]
strokes_formerly_smoked = formerly_smoked_data["stroke"].sum()
strokes_never_smoked=never_smoked_data["stroke"].sum()
strokes_smokes=smokes_data["stroke"].sum()
xdata = ["never smoked","formerly smoked","smokes"]
ydata = [strokes_never_smoked, strokes_formerly_smoked, strokes_smokes ]
plt.bar(xdata, ydata, color ='blue', 
        width = 0.4)

We see from this barplot that the individuals from the data who never smokes have the most number of strokes. This could indicate smoking could lower the chance of getting a stroke but that seems far from the reality since studies show that smoking could raise the risk of getting a stroke. The explanation for this outcome is probably that the data mostly consists of people who never smoked or that a lot of individuals from this dataset who never smoked has heart diseases or are old or some other variable that could increase the risk of getting a stroke

3. And the third question, what variable seems to be most correlated with chance of getting a stroke.

In [1]:
relevant_data = df[["gender","age","hypertension","heart_disease","ever_married","work_type","Residence_type", "avg_glucose_level", "bmi","smoking_status" , "stroke"]]
relevant_data.loc[relevant_data['gender'] == 'Male', 'gender'] = 0
relevant_data.loc[relevant_data['gender'] == 'Female', 'gender'] = 1
relevant_data.loc[relevant_data['smoking_status'] == 'never_smoked', 'smoking_status'] = 0
relevant_data.loc[relevant_data['smoking_status'] == 'formerly_smoked', 'smoking_status'] = 1
relevant_data.loc[relevant_data['smoking_status'] == 'smokes', 'smoking_status'] = 2
relevant_data.loc[relevant_data['ever_married'] == 'Yes', 'ever_married'] = 1
relevant_data.loc[relevant_data['ever_married'] == 'No', 'ever_married'] = 0
relevant_data.loc[relevant_data['work_type'] == 'Self-employed', 'work_type'] = 0
relevant_data.loc[relevant_data['work_type'] == 'Private', 'work_type'] = 1
relevant_data.loc[relevant_data['work_type'] == 'Govt_job', 'work_type'] = 2
relevant_data.loc[relevant_data['Residence_type'] == 'Rural', 'Residence_type'] = 0
relevant_data.loc[relevant_data['Residence_type'] == 'Urban', 'Residence_type'] = 1

numeric_columns = relevant_data.select_dtypes(include=['number']).columns
correlation_matrix = relevant_data[numeric_columns].corr()

#Find the correlation between 'stroke' and all other variables
stroke_corr = correlation_matrix['stroke'].sort_values(ascending=False)

# Visualize the top correlations with 'stroke'
plt.figure(figsize=(8, 6))
sns.barplot(x=stroke_corr.index, y=stroke_corr.values)
plt.title('Correlation of Variables with Stroke')
plt.xlabel('Variables')
plt.ylabel('Correlation Coefficient')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

We can see that age is the variable that has the largest correlation with the risk of a stroke, followed by heart disease, glucose level and hypertension. We also see that gender has close to nothing to do with the risk of getting a stroke.

Data preparation

In [4]:
# opening and displaying the csv file which contains data about strokes and realative variables
local_file_path = ".data/blob/main/cell_phones_total.csv"
url = "https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/cell_phones_total.csv"
df = pd.read_csv(url)

NameError: name 'pd' is not defined

In [3]:
# Remove columns with missing values
df_cleaned = df.dropna(axis=1, how='all')
df_cleaned = df_cleaned.infer_objects()
# Creating a function to convert strings with 'k' or 'M' to numeric values ( k = 1000, M = 1 000 000)
def replace_strings(value):
    if isinstance(value, str):
        if 'k' in value:
            return float(value.replace('k', '')) * 1e3
        elif 'M' in value:
            return float(value.replace('M', '')) * 1e6
    return value

# Looping through the columns and applying the function we created
for col in df_cleaned.columns[1:]:
    df_cleaned.loc[:, col] = df_cleaned[col].apply(replace_strings)
# Ensure all columns are numeric
df_cleaned.iloc[:, 1:] = df_cleaned.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Use infer_objects() to avoid FutureWarning
df_cleaned = df_cleaned.infer_objects()

# Fill remaining missing values with zeros
df_filled = df_cleaned.fillna(0)


print(df_filled)

NameError: name 'df' is not defined

The iso-3 column is telling us what country we are looking at so we want to keep that column as strings. However every other string in the file should be converted to numerical values. We begin by removing the columns with missing data, then create a function that replaces strings with numerical values. After that we use our function for the whole data set by looping through it and replacing missing values with zeros.

In [ ]:
from tabulate import tabulate

#filtering columns from 2015 and later
columns_from_2015 = ['iso-3'] + [col for col in df_filled.columns if col.isdigit() and int(col) >= 2015]
data_from_2015 = df_filled[columns_from_2015]

# sorting the data from year 2015 in descending order
data_sorted_from_2015 = data_from_2015.sort_values(by='2015', ascending=False)

# Formating numerical values so tabulate can be used
data_formatted_from_2015 = data_sorted_from_2015.copy()
for col in columns_from_2015[1:]:
    data_formatted_from_2015[col] = data_formatted_from_2015[col].apply(lambda x: f"{x:.2e}" if x != 0 else "nan")

# Convert data to a list of lists and print using tabulate
first_10_rows = data_formatted_from_2015.head(10)
table_data = first_10_rows.values.tolist()
headers = first_10_rows.columns.tolist()

# Print the table
print(tabulate(table_data, headers=headers, tablefmt="grid"))